@import 'nib'
normalize-css()

// Material design base:

  // remember that some effects require you to import js/styles in your app

// @import './base/fonts'
// @import './base/variables'
// @import './utils/mixins'
// @import './utils/animations'
// @import './base/base'

// include components as wanted

// @import './components/grid'
// @import './components/navbar'
// @import './components/card'
// @import './components/menubar'
// @import './components/buttons'
