// Color palette
  // Main colors from http://www.google.com/design/spec/style/color.html#color-color-palette
  // Choose a two color palettes and override this section
  // Default is Teal (primary) + Purple (secondary)

$color-primary       = #009688
$color-primary-dark  = #00796B
$color-primary-light = #B2DFDB

$color-secondary       = #E040FB
$color-secondary-dark  = #D500F9
$color-secondary-light = #EA80FC

$color-black = #000000
$color-white = #ffffff

$color-grey       = #e0e0e0
$color-grey-light = #FAFAFA
$color-grey-dark  = #9e9e9e
///



// Components colors
  
$color-text-primary   = rgba($color-black, .87)
$color-text-secondary = rgba($color-black, .54)
$color-text-disabled  = rgba($color-black, .26)

$color-divider = rgba($color-black, .12)
$color-divider-inverse = rgba($color-white, .12)

$color-background = $color-grey

$color-card = $color-white

$color-navbar = $color-primary

// Font config

$font-size            = 16px
$font-family          = 'Roboto', sans-serif
$font-family-headings = 'Roboto', sans-serif
